{% extends 'tours/base.html' %}

{% block content %}
<main class="container mt-3">{% load ru_pluralize %}
    <h1 class="display-5 mt-4">Летим {{direction}}</h1>
    <p class="mb-4">Найдено {{ tour_search.kol_tour|ru_pluralize:'тур,тура,туров' }} , от {{ tour_search.min_price }} до {{ tour_search.max_price }} и от {{ tour_search.min_nights }} ночей до {{ tour_search.max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for key, value in tours.items %}<div class="col-4">
            <div class="card mb-4">
                <img src={{ value.picture }} class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ value.title }}</h2>
                    <p class="card-text">{{ value.description }}</p>
                    <a href="{% url "tour" key %}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
            </div>
        </div>{% endfor %}
    </div>
</main>
{% endblock %}