{% extends 'tours/base.html' %}

{% block content %}
<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ tours.title }} {{ stars }}</h1>
        <!-- HERO -->
        <p class="lead">{{ tours.country }} {{ departures }} {{ tours.nights }} ночей</p>
        <img src="{{ tours.picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tours.price }}</a>
    </section>
</main>
{% endblock %}